{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Action": [
        "autoscaling:*InstanceRefresh",
        "autoscaling:*Lifecycle*",
        "autoscaling:*LoadBalancer*",
        "autoscaling:*Metrics*",
        "autoscaling:*Policy",
        "autoscaling:*Processes",
        "autoscaling:*Standby",
        "autoscaling:*Tags*",
        "autoscaling:Attach*",
        "autoscaling:Batch*",
        "autoscaling:Delete*",
        "autoscaling:Describe*",
        "autoscaling:Detach*",
        "autoscaling:Get*",
        "autoscaling:Put*",
        "autoscaling:Set*",
        "cloudformation:List*",
        "cloudformation:Describe*",
        "cloudformation:Detect*",
        "cloudformation:EstimateTemplateCost",
        "cloudformation:Get*",
        "cloudtrail:GetTrailStatus",
        "cloudtrail:DescribeTrails",
        "cloudtrail:LookupEvents",
        "cloudtrail:ListTags",
        "cloudtrail:ListPublicKeys",
        "cloudtrail:GetEventSelectors",
        "cloudwatch:Describe*",
        "cloudwatch:Get*",
        "cloudwatch:List*",
        "compute-optimizer:Get*",
        "compute-optimizer:Describe*",
        "ec2:*Address*",
        "ec2:*Bundle*",
        "ec2:*Cidr*",
        "ec2:*Dhcp*",
        "ec2:*Encryption*",
        "ec2:*Event*",
        "ec2:*Gateway*",
        "ec2:*IdFormat",
        "ec2:*Image*",
        "ec2:*KeyPair",
        "ec2:*Kms*",
        "ec2:*Log*",
        "ec2:*Managed*",
        "ec2:*Network*",
        "ec2:*Route*",
        "ec2:*SecurityGroup*",
        "ec2:*SnapshotAttribute",
        "ec2:*Subnet*",
        "ec2:*Tag*",
        "ec2:*Task",
        "ec2:*Traffic*",
        "ec2:*Vpc*",
        "ec2:*Vpn*",
        "ec2:Accept*",
        "ec2:AllocateHosts",
        "ec2:Associate*",
        "ec2:AttachVolume",
        "ec2:Cancel*",
        "ec2:Confirm*",
        "ec2:CopySnapshot",
        "ec2:CreateSnapshot*",
        "ec2:Delete*",
        "ec2:Describe*",
        "ec2:DetachVolume",
        "ec2:Disable*",
        "ec2:Disassociate*",
        "ec2:Export*",
        "ec2:Get*",
        "ec2:ModifyAvailabilityZoneGroup",
        "ec2:ModifyInstanceMetadataOptions",
        "ec2:MonitorInstances",
        "ec2:ReleaseHosts",
        "ec2:ReplaceIamInstanceProfileAssociation",
        "ec2:ReportInstanceStatus",
        "ec2:SendDiagnosticInterrupt",
        "ec2:StopInstances",
        "ec2:TerminateInstances",
        "ec2:UnmonitorInstances",
        "elasticloadbalancing:*LoadBalancer",
        "elasticloadbalancing:*Tags",
        "elasticloadbalancing:*TargetGroup",
        "elasticloadbalancing:AddListenerCertificates",
        "elasticloadbalancing:CreateListener",
        "elasticloadbalancing:CreateRule",
        "elasticloadbalancing:DeleteListener",
        "elasticloadbalancing:DeleteRule",
        "elasticloadbalancing:DeregisterTargets",
        "elasticloadbalancing:Describe*",
        "elasticloadbalancing:Modify*",
        "elasticloadbalancing:RegisterTargets",
        "elasticloadbalancing:RemoveListenerCertificates",
        "elasticloadbalancing:Set*",
        "events:Describe*",
        "events:List*",
        "events:TestEventPattern",
        "iam:List*",
        "iam:Get*",
        "kms:ListAliases",
        "lambda:ListFunctions",
        "logs:List*",
        "logs:Describe*",
        "logs:Get*",
        "logs:StartQuery",
        "logs:StopQuery",
        "logs:TestMetricFilter",
        "logs:FilterLogEvents",
        "resource-groups:Get*",
        "resource-groups:List*",
        "resource-groups:SearchResources",
        "s3:ListAllMyBuckets",
        "s3:GetObject",
        "s3:GetBucketLocation",
        "ssm:List*",
        "ssm:Describe*",
        "ssm:Get*",
        "ssm:PutInventory",
        "ssm:PutComplianceItems",
        "ssm:PutConfigurePackageResult",
        "ssm:UpdateAssociationStatus",
        "ssm:UpdateInstanceAssociationStatus",
        "ssm:UpdateInstanceInformation",
        "ssm:CancelCommand",
        "ssm:SendCommand",
        "ssm:StartAutomationExecution",
        "ssm:StartSession",
        "ssm:TerminateSession",
        "ssm:ResumeSession",
        "sns:ListTopics",
        "sts:DecodeAuthorizationMessage",
        "tag:*"
      ],
      "Effect": "Allow",
      "Resource": "*",
      "Condition": {
        "StringEquals": {
          "aws:RequestedRegion": "us-east-1"
        }
      }
    },
    {
      "Sid": "RestrictInstanceActions",
      "Effect": "Allow",
      "Action": [
        "ec2:CreateFleet",
        "ec2:CreateLaunchTemplate",
        "ec2:CreateLaunchTemplateVersion",
        "ec2:CreateVolume",
        "ec2:EnableVolumeIO",
        "ec2:ImportInstance",
        "ec2:ImportSnapshot",
        "ec2:ImportVolume",
        "ec2:ModifyFleet",
        "ec2:ModifyInstanceAttribute",
        "ec2:ModifyInstanceCreditSpecification",
        "ec2:ModifyLaunchTemplate",
        "ec2:ModifyVolume",
        "ec2:ModifyVolumeAttribute",
        "ec2:RebootInstances",
        "ec2:ResetInstanceAttribute",
        "ec2:RunInstances",
        "ec2:StartInstances"
      ],
      "Resource": "*",
      "Condition": {
        "StringEqualsIfExists": {
          "ec2:Owner": "amazon"
        },
        "StringLikeIfExists": {
          "ec2:InstanceType": [
            "t*.nano",
            "t*.micro",
            "t*.small",
            "t*.medium"
          ],
          "ec2:Tenancy": "default"
        },
        "StringNotEqualsIfExists": {
          "ec2:PlacementGroupStrategy": "cluster"
        },
        "StringNotLikeIfExists": {
          "ec2:VolumeType": [
            "io*",
            "st*"
          ]
        },
        "NumericLessThanEqualsIfExists": {
          "ec2:VolumeSize": "100"
        }
      }
    },
    {
      "Sid": "RestrictActions",
      "Effect": "Deny",
      "Action": [
        "ec2:*Fpga*",
        "ec2:*Purchase*",
        "ec2:*ReservedInstances*",
        "ec2:*Scheduled*",
        "ec2:*Spot*",
        "ec2:AcceptVpcEndpointConnections",
        "ec2:AttachVpnGateway",
        "ec2:CreateCapacityReservation",
        "ec2:CreateVpnGateway",
        "ec2:EnableFastSnapshotRestores"
      ],
      "Resource": "*"
    }
  ]
}